#sets_index {
  overflow: scroll;
  height: 500px;
}

#set_cards {
  overflow: scroll;
  height: 500px;
}

#html_body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/18/8c/2e/188c2ef9dafa95693f0d919942500c09.jpg);
}

#signin_form {
  height: 300px;
  width: 300px;
  background-color: grey;
}

#signup {
  height: 600px;
  width: 300px;
  background-color: grey;
}

#usershow_text {
  color: white;
}

#heythere {
  color: white;
}

#list {
  color: white;
}
