
#sets_index {
  overflow: scroll;
  height: 500px;
  font-family: 'IM Fell English', serif;
}

#set_cards {
  overflow: scroll;
  height: 500px;
}

#html_body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/18/8c/2e/188c2ef9dafa95693f0d919942500c09.jpg);
}

#navbar {
  background-image: url(http://bgfons.com/upload/marble_texture4665.jpg);
}

#navbrand {
  color: black;
  font-size: 24px;
  font-family: 'IM Fell English', serif;
}

#navmulti {
  color: black;
  font-family: 'IM Fell English', serif;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-family: 'IM Fell English', serif;
}

#setlink {
  color: #c8c8c8;
}

#setpanel {
  height: 92px;
  margin-left: 37px;
}
